.cv {
    color: $color-darkmode;
    
    h2 {
        margin-top: 130px;
    }

    a {
        text-decoration: underline;
    }

    embed {
        display: block;
        margin: 0 auto;
    }
}