<div class="hero container">
    <div>
        <h1 class="hero-title">Lorenzo Catalano</h1>
        <h2 class="hero-subtitle">Fullstack Web Developer</h2>
    </div>
    <img src="assets/images/hero-img.png" alt="Portfolio hero picture"
         class="hero-img">
</div>