{% from 'macros/container.njk' import container %}

{% call container('Projects', 'projects') %}
    <div>
        <h3>Project 1</h3>
    </div>
    <div>
        <h3>Project 2</h3>
    </div>
    <div>
        <h3>Project 3</h3>
    </div>
{% endcall %}