{% from 'macros/container.njk' import container %}
{% from 'macros/skill-card.njk' import skillCard %}

 <div class="skills">
    {% call container("Skills") %}
        <div class="skills-grid">
            {% for skill in skills %}
                {% call skillCard(skill.title, skill.description) %}
                {% endcall %}
            {% endfor %}
        </div>
    {% endcall %}
 </div>