{% from 'macros/container.njk' import container %}

<div id="skills" class="skills">
{% call container('Skills') %}
    <div class="skills-grid">
        {% for skill in skills %}
            <div class="skill">
                <h3>{{ skill.title }}</h3>
                <p>{{ skill.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endcall %}
</div>