$color-main: #242582;
$color-project-gradient: linear-gradient(135deg, #0345a8 0%, #d43f8d 100%);
$color-about-gradient: linear-gradient(135deg, #603d67 0%, #f64c72 100%);
$color-tools-gradient: linear-gradient(135deg, #603d67 0%, #f64c72 100%);
$color-darkmode: #111111;
$color-lightmode: #FFF;