.hero {
  //height: calc(100vh - 88px);
  height: 80vh;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include down(900) {
    text-align: center;
  }
}

.hero-title {
  font-size: 6em;

  @include down(900) {
    font-size: 4em;
  }

  @include down(450) {
    font-size: 3em;
  }
}

.hero-subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: var(--gold-color);
}

.hero-img {
  align-self: flex-end;

  @include down(1150) {
    width: 40%;
  }

  @include down(900) {
    display: none;
  }
}