* {
    scroll-behavior: smooth;
    transition: 0.3s ease;
}

html {
    font-family: Montserrat, sans-serif;
    color: var(--light-color);
}

body {
    background-color: var(--main-bg-color);
}

h1, h2 {
    font-family: TrajanBold, sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}

p + p {
    padding-top: space(1);
}

a {
    color: var(--gray-color);
    text-decoration: none;
}
a:hover {
    color: var(--light-color);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: space(4) space(2);
}
.container-title {
    margin-bottom: space(4);
}